<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="com.yu.springframework.test.step10.event.ContextRefreshedEventListener"/>

    <bean class="com.yu.springframework.test.step10.event.CustomEventListener"/>

    <bean class="com.yu.springframework.test.step10.event.ContextClosedEventListener"/>

</beans>